/* -- w3s W3 CSS framework -- */
@import url(https://www.w3schools.com/w3css/4/w3.css);
@import url(https://www.w3schools.com/lib/w3-colors-highway.css);
/* -- Google fonts -- */
@import url(https://fonts.googleapis.com/css?family=Mansalva&display=swap);
@import url(https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap);
/* -- style -- */
html, body {
    font-family: "Baloo Bhaina 2";
  }
h1, h2, h3 {
    font-family: "Mansalva";
  }